<div class="">
            <div id="home-intro" class="jumbotron show">
                <div class="container">
                    <h3>Content Type</h3>
                    <p>Choose the content type you would like to create. You can either choose from the list of core types or one of the templates.</p>
                </div>
            </div>
            <div id="core-web" class="jumbotron clearfix">
                <h3>HTML Content</h3>
                <p><img src="/img/html_content.jpg" class="intro_img"/>HTML Content will deliver a mobile web page feeling content to mobile devices. The content can be directly rendered by mobile webkit component. </p>
                <p>TheCMS provids a WYSIWYG web page editor to help with content construction. </p>
                <p>With the help of light weight bridge component, it is able to add Javascript code in the html content to perform native behaviour.<small><a href="#">[Checkout API]</a></small></p>
                <p>HTML type content is mainly used for general information or product introduction which needs to push onto mobile devices regularly.</p>
                <p><a href="/cms/articles/create/core/html/html" class="btn btn-primary pull-right">Create Now</a></p>
            </div>
            <div id="core-json" class="jumbotron clearfix">
                <h3>JSON Content</h3>
                <p><img src="/img/json_content.png" class="intro_img"/>JSON data will deliver a light weight key-value pair data to mobile devices. The data is serialised and can be directly used by any mobile application. For more details about JSON, please  <small><a href="http://en.wikipedia.org/wiki/JSON">[Checkout Here]</a></small></p>
                <p>The use case for JSON type content is quite common, like the content in dropdown list, the list of files to be downloaded to client, small data storage etc.</p>
                <p><a href="/cms/articles/create/core/json/json" class="btn btn-primary pull-right">Create Now</a></p>
            </div>
            <div id="core-table" class="jumbotron clearfix">
                <h3>Table Content</h3>
                <p><img src="/img/table_content.jpg" class="intro_img"/>Table data will also deliver a light weight key-value pair data to mobile devices in JSON format. The difference is Table data structure is 'flat' which means it is not nested. Further, it is much simpler to maintain and create compared to JSON type data. Table content use case is a subset of JSON type content like menu list, item list etc.</p>
                <p><a href="/cms/articles/create/core/table/table" class="btn btn-primary pull-right">Create Now</a></p>
            </div>
            <div id="core-xml" class="jumbotron clearfix">
                <h3>XML Content</h3>
                <p><img src="/img/xml_content.jpg" class="intro_img"/>XML data has the same functionalities as JSON data but in different format. It is able parsed by mobile application directly as well.</p>
                <p>The use case for XML type content is similar to that of JSON type content. It is mainly used for delivering light-weight data.</p>
                <p><a href="/cms/articles/create/core/xml/xml" class="btn btn-primary pull-right">Create Now</a></p>
            </div>
            <div id="core-form" class="jumbotron clearfix">
                <h3>App Form Content</h3>
                <p><img src="/img/form_content.png" class="intro_img"/>Form data is a fast and simple way to deliver form based content to mobile devices. The output could be either HTML or JSON so that it can be rendered by mobile webkit component or native components.</p>
                <p>Form type content is mainly used for form based mobile application so that the form can be designed in CMS and form result can be submitted back to cloud.</p>
                <p><a href="/cms/articles/create/core/form/form" class="btn btn-primary pull-right">Create Now</a></p>
            </div>
        </div>