<div>
    <h4>Core Types</h4>
    <ul class="content_type_list clearfix">
        <li data-type="core-web">
            <div class="content_type_icon"><img src="/img/html_icon.png" width="100"/></div>
            <div class="content_type_name">HTML</div>
        </li>
        <li data-type="core-json">
            <div class="content_type_icon"><img src="/img/json_icon.png" width="100"/></div>
            <div class="content_type_name">JSON</div>
        </li>
        <li data-type="core-table">
            <div class="content_type_icon"><img src="/img/table_icon.png" width="100"/></div>
            <div class="content_type_name">Table</div>
        </li>
        <li data-type="core-xml">
            <div class="content_type_icon"><img src="/img/xml_icon.png" width="100"/></div>
            <div class="content_type_name">XML</div>
        </li>
        <li data-type="core-form">
            <div class="content_type_icon"><img src="/img/form_icon.png" width="100"/></div>
            <div class="content_type_name">Form</div>
        </li>
    </ul>
</div>