<div>
    <h4>DAA Content Templates <small><a href="#">[Create Template]</a></small></h4>
    <ul class="content_type_list clearfix">
        <li data-type="template-shop">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">Shops</div>
        </li>
        <li data-type="template-airline">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">Airlines</div>
        </li>
        <li data-type="template-carpark">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">Car Parks</div>
        </li>
        <li data-type="template-shoppingloop">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">Shopping Loops</div>
        </li>
        <li data-type="template-map">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">Maps</div>
        </li>
        <li data-type="template-faq">
            <div class="content_type_icon"><img src="/img/template_icon.png" width="100"/></div>
            <div class="content_type_name">FAQ</div>
        </li>
    </ul>
</div>