<div class="">
        <div id="template-shop" class="jumbotron clearfix">
            <h3>Shops Template</h3>
            <p><img src="/img/template_shop_content.png" class="intro_img"/>Shops template consists of an image, introduction information, and telephone number. </p>
            <p>It can be used for any shops page. The base type of this template is HTML.</p>
            
            <p><a href="/cms/articles/create/template/html/shop" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
        <div id="template-airline" class="jumbotron clearfix">
            <h3>Aerline Template</h3>
            <p><img src="/img/template_aerline_content.png" class="intro_img"/>Describe the mapping between Aerline code and Aerline icon.</p>
            <p>It is used for app to display Aerline icon and name to final user. The icon will be returned as base64 encoded image and the base type is JSON. </p>
            <p><a href="/cms/articles/create/template/json/airline" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
        <div id="template-carpark" class="jumbotron clearfix">
            <h3>Car Park Template</h3>
            <p><img src="/img/template_carpark_content.png" class="intro_img"/>Define the list of car park in airport</p>
            <p>The base type is JSON</p>
            <p><a href="/cms/articles/create/template/json/carpark" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
        <div id="template-shoppingloop" class="jumbotron clearfix">
            <h3>Shopping Loop Template</h3>
            <p><img src="/img/template_shoppingloop_content.png" class="intro_img"/>Define the items on shopping loop page. It contains a base64 encoded image, a line of text and a URL to the purchase page</p>
            <p>The base type is JSON but needs to construct as a single html page with all items.</p>
            <p><a href="/cms/articles/create/template/json/shoppingloop" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
        <div id="template-map" class="jumbotron clearfix">
            <h3>Map Template</h3>
            <p><img src="/img/template_map_content.png" class="intro_img"/>Define a map used by Map page. It contains a base64 encoded image, pins cordinates, pins related information</p>
            <p>The base type is JSON</p>
            <p><a href="/cms/articles/create/template/json/map" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
        <div id="template-faq" class="jumbotron clearfix">
            <h3>FAQ Template</h3>
            <p><img src="/img/template_faq_content.png" class="intro_img"/>It defines a list of question-answer pair data.</p>
            <p>The base type is JSON</p>
            <p><a href="/cms/articles/create/template/json/faq" class="btn btn-primary pull-right">Create Now</a></p>
        </div>
    </div>

