<form id="app_create_form">
    <h2>Create App</h2>
    <%- partial("../partials/appFormFields") %>
    <fieldset>
         <button type="button" id="app_create_form_save_btn">Save</button>
    </fieldset>
</form>
