<script type="text/javascript">
    $(document).on("click","button.unlock-btn",function(){
        $("input[name='alias']").removeAttr("readonly");
        $(this).hide();
    });
</script>
<div style="width:500px; ">
<div class="form-group">
    <% if (typeof article  != "undefined") {%>
    <div class="form-group">

    <label for="alias">Alias</label>
    <div>
        <input class="form-control" name="alias" <%= (typeof article != 'undefined') ? "readonly" : "" %> type="text" required value="<%= (typeof article != 'undefined') ? article.alias : '' %>" />
        <button  type="button" class="btn unlock-btn btn-warning" data-target-name="alias">
            <span class="glyphicon glyphicon-warning-sign"></span> Unlock Alias?
        </button>
    </div>
</div>
<% } %>
    <label for="name">Name</label>
    <input class="form-control" data-preview="preview_name" name="name" type="text" required value="<%= (typeof article != 'undefined') ? article.name : '' %>" />
</div> 
<div class="form-group">
    <input name="version" type="hidden" value="<%= (typeof article != 'undefined') ? article.version : '' %>"/>
</div>

</div>



