<form id="category_add_form">

    <h3>Add Category</h3>
    <div class="form-group">
        <p>Choose from the existing categories</p>
    </div>
    <div class="form-group">
        <label for="select_category">Categories</label>
         <select name="categories" class="form-control">
            <% categories.forEach(function(category) { %>
            <option  value="<%- category.alias %>"><%- category.name %></option>
            <% }) %>
         </select>
    </div>
    <div class="form-group">
         <button type="button" id="category_add_form_add_btn" class="btn btn-primary">Attach</button> 
         <a class="btn btn-primary" href="/cms/categories/create">New Category</a>
    </div>
</form>

