<div class="panel-heading"><h3 class="panel-title">Apps Page</h3></div>
<div class="panel-body">
    <p>Apps page is where to create mobile application CMS collection. For one mobile application, generally it maps to one CMS application on apps page. It contains the tree view of categories, articles assigned to the app. Apps page provides following functionalities:</p>
        <ul>
            <li>Create App: Initilise a new app.</li>
            <li>Edit App structure: It is able to attach, detach, edit categories and articles on </li>
        </ul>
    <p>For built-in authentication, it provides a way to add user, remove user, edit user and change user password. For LDAP authentication, it does not need further configuration.</p>
</div>