<div class="panel-heading"><h3 class="panel-title">User Page</h3></div>
<div class="panel-body">
    <p>User page mainly allows an administrator to:</p>
        <ul>
            <li>Switch user authentication method. Either <strong title="Auth with DAA LDAP server">LDAP Auth</strong> or <strong title="Auth with CMS Database">Built-in Auth</strong> are available</li>
            <li>Manage users for Built-in Auth</li>
        </ul>
    <p>For built-in authentication, it provides a way to add user, remove user, edit user and change user password. For LDAP authentication, it does not need further configuration.</p>
</div>