<h3>Preview Template</h3>

<p>
  Edit your template with visual editor or editing the HTML code directly in Tools->Source Code. 
</p>
<p>
  Use "&lt;$=column name$&gt;" to inject the value of one cell in the table above to the template. You do not have to worry about row number.
</p>
<p>
  For example, HTML code: &lt;b&gt;&lt;$=name$&gt;&lt;/b&gt; will result in a bold name value from name column in the table.
</p>
<%- partial("./embed_preview_template.ejs") %>