<div>
    <ul class="content_type_list clearfix">
        <li data-type="import-pdf">
            <div class="content_type_icon"><img src="/img/pdf_icon.png" width="100"/></div>
            <div class="content_type_name">PDF</div>
        </li>
        <li data-type="import-webpage">
            <div class="content_type_icon"><img src="/img/html_icon.png" width="100"/></div>
            <div class="content_type_name">Web Page</div>
        </li>
        <li data-type="import-website">
            <div class="content_type_icon"><img src="/img/website_icon.jpg" width="100"/></div>
            <div class="content_type_name">Web Site</div>
        </li>
        <li data-type="import-rss">
            <div class="content_type_icon"><img src="/img/rss_icon.png" width="100"/></div>
            <div class="content_type_name">RSS</div>
        </li>
        <li data-type="import-rest">
            <div class="content_type_icon"><img src="/img/rest_icon.png" width="100"/></div>
            <div class="content_type_name">REST API</div>
        </li>
        <li data-type="import-soap">
            <div class="content_type_icon"><img src="/img/soap_icon.png" width="100"/></div>
            <div class="content_type_name">SOAP API</div>
        </li>
    </ul>
</div>