<div class="">
        <div id="import-pdf" class="jumbotron clearfix">
            <h3>PDF File</h3>
            <p>Import a single PDF file. The file can be downloaded to mobile devices for offline usage.</p>
            <p><a href="/cms/articles/create/import/bin/pdf" class="btn btn-primary pull-right">Import Now</a></p>
        </div>
        <div id="import-webpage" class="jumbotron clearfix">
            <h3>Single Web Page</h3>
            <p>Import a single web page from internet. It will convert remote content to local ones. It just needs the URL for the web page and there are more advanced options.</p>
            <p><a href="/cms/articles/create/import/html/htmlpage" class="btn btn-primary pull-right">Import Now</a></p>
        </div>
        <div id="import-rss" class="jumbotron clearfix">
            <h3>RSS Feed</h3>
            <p>Automated RSS feed importer.</p>
            <p><a href="/cms/articles/create/import/json/rss" class="btn btn-primary pull-right">Import Now</a></p>
        </div>

</div>

